* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
}

.links {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: fit-content;
  gap: 1rem;
}

.links > a {
  color: wheat;
}
